# Introduction to Python: Jupyter Notebook, data structures

# GitHub Link for Python Part of the Class
https://github.com/Parandzem-S/MGMT-300-Summer2022

# Jupyter Notebook

- **Integrated Development Environments for the python:** Spyder, PyCharm, Rodeo, Atom, Jupyetr Notebook, etc (for more see, https://www.datacamp.com/community/tutorials/data-science-python-ide). We will use Jupyter Notebook.

- **Jupyter Notebook:** "Notebook" or "notebook documents" denote documents that contain both code and rich text elements, such as figures, links, equations, ... Because of the mix of code and text elements, these documents are the ideal place to bring together an analysis description, and its results, as well as, they can be executed to perform the data analysis in real time.The Jupyter Notebook App produces these documents. Jupyter Notebook App allows you to edit and run your notebooks via a web browser. The application can be executed on a PC without Internet access, or it can be installed on a remote server, where you can access it through the Internet.

- **Open Jupyter Notebook:** In Command Prompt or Anaconda Prompt type <code>jupyter notebook</code>. Then click to New - Python 3, the JN script will be opened and you can start coding.

# Formatting Text in Jupyter Notebook

Double click on the cell below to see formattings.

# (Header 1, title)

## (Header 2, major headings)

### (Header 3, subheadings)

#### (Header 4)

##### (Header 5)

###### (Header 6)

> Blockquotes - Intended text

<b>This is bold text </b>

**This is bold text**

__This is bold text__

*This is Italic text*


- Bullet Point 1
<li> Bullet Point 2 </li>


1. Bullet Point 1
2. Bullet Point 2

# Magic Codes

IPython has a set of predefined ‘magic functions’ that you can call with a command line style syntax.

These commands are basically added to solve common problems we face and also provide few shortcuts to your code.

% prefix represents that the command operates over a single line of code whereas %% prefix allows the command to operate over an entire cell.

> **%lsmagic** should be run to see the full list of magics available

In [1]:
%%markdown #text written bwlow is treated as string
125/5

125/5

In [2]:
%pwd #checking current file's path

'C:\\Users\\psargsyan\\Dropbox\\MGMT 300 2022\\Class 5'

# Arithmetic Operators

**Operators are special symbols that represent computations like additions, multiplications, etc.**

With numbers you can use the following *operators*:

- "+"
- "-"
- "*"
- "/"
- "%" **modulus** (a remainder left when you divide)
- "**" __power of a number__

For other operators and how to use them, see: https://www.w3schools.com/python/python_operators.asp

In [3]:
125/5

25.0

In [4]:
print(12+5)
print(13-2)

17
11

In [5]:
12*3, 17%3

(36, 2)

In [6]:
print(12*3, 17%3, 4**2)

36 2 16

In [7]:
4=4

SyntaxError: cannot assign to literal (Temp/ipykernel_31824/555856018.py, line 1)

> **=** is for assigning value to a variable, if you want to check whether two variables are equal or not, you need to use **==**. This is the reason that the code above returns an error.

# Variables

## Creating variables
> > - Unlike other programming languages, Python has no command for declaring a variable.
> > - A variable is created the moment you first assign a value to it, and Python figures out the variable types on its own.
> > - Assignment in Python uses "=" sign, and for equality "==" sign is used

In [8]:
#creating a variable
fruit=1

In [9]:
#let's print the value of the variable that we created
print(fruit)

1

**Naming Variables**

- Names of variables are case sensitive ("fruit", "Fruit", "FRUIT" are 3 different variables).
- A variable name should start with a letter or the underscore, it cannot start with a number (e.g. "_hero", "hero" are valid names but "1hero" is NOT a valid name).
- In Python there are some *reserved words* and it would be better to try not to use these words as variable names: **var,and, assert, break, class, continue, def, del, elif, else, except, exec, finally, for, from, global, if, import, in, is, lambda, not, or, pass, print, raise, return, try, while,** etc. There is no need to remember these words because after typing if a word is reserved it becomes green.
- It's not recommended to use spaces in the names of variables.

In [10]:
print(FRUIT) # variable names are case-sensitive

NameError: name 'FRUIT' is not defined

In [11]:
del = 4 # del is a keyword and can't be used as a variable name

SyntaxError: invalid syntax (Temp/ipykernel_31824/2715099445.py, line 1)

In [12]:
0fruit=5 #variable name can't start with a number

SyntaxError: invalid syntax (Temp/ipykernel_31824/2769517137.py, line 1)

## Variable Types

> **type()** function is used to find out the type of a variable

**Variable types:** When programming, the type of a variable is important as __for each specific data type there are operations which you can and cannot do__. In the above example, the variable hero is of type str which means string.

**Basic types:**

- **Numeric**: integer (int), float
- **Strings**: a string (str) in Python is a sequence of characters.Python strings are immutable, meaning that we are not allowed to change individual parts of them.
- **Lists**: a list is a finite sequence of items. Lists are ordered and changeable and it allows duplicate members (items). Lists are not required to be homogeneous, i.e., the items could be of different types.
- **Sets**: a set is a collection which is unordered and unindexed. In Python sets are written with curly brackets - {}.
- **Tuple**: a tuple is a finite sequence of items which is ordered and unchangeable. Allows duplicate members.
- **Dictionaries**: is a finite sequence of items. It is unordered, changeable and indexed. No duplicate members are allowed.

**To specify data types manually  float(), int() and str() functions should be used.**

## Numeric and Float

In [13]:
#integer-type variables
age=2
height=50

In [14]:
print(type(age),type(height))

<class 'int'> <class 'int'>

In [15]:
weight=10.9 #is float-type

In [16]:
print(type(weight))

<class 'float'>

#### Changing the type of numeric variable

<code>float()</code> and <code>int()</code> functions are used to change variable types from int to float and from float to int respectively.

In [17]:
float(age)

2.0

In [18]:
int(weight) #int() does not round the number, just ignores the part after decimal place

10

> **Note!** you can NOT convert string to integer or float type

## Strings

**A string (str)** in Python is a sequence of characters.Python strings are **immutable, meaning that we are not allowed to change individual parts of them**.

> **! Enumeration in Python starts from 0.**

In [19]:
#creating a variable that is string
name='Anna'

In [20]:
type(name) #checking variable type

str

In [21]:
#printing the same string multiple times can be done by multiplying a string by a integer number 
name*2

'AnnaAnna'

In [22]:
#adding a space to a string
print(name+' ')

Anna

In [23]:
print(2*(name+' '))

Anna Anna

In [24]:
#you can't add number to a string
name+2

TypeError: can only concatenate str (not "int") to str

**Understanding Exceptions (Error) Above**

> Let's start from the end, TypeError mainly refers to that Python is expecting some value type but you are inputting another type. This sign "---->" indicates from which row of code the error comes.

> **In case you need to add a number to string you should convert number to string by using str() function. See the cell bellow.**

In [25]:
name_2=name+str(2)

In [26]:
#print the string in lower case
print(name_2.lower())
#print the string in upper case
print(name_2.upper())

anna2
ANNA2

In [27]:
print("My cousin's name is ",name)

My cousin's name is  Anna

In [28]:
print(f'Her age is {age}')

Her age is 2

In [29]:
"Her age is "+str(age)

'Her age is 2'

> - The format() method formats the specified value(s) and insert them inside the string's placeholder.
> - The placeholder is defined using curly brackets: <code>{}</code>. Read more about the placeholders here: https://www.w3schools.com/python/ref_string_format.asp. 
> - The format() method returns the formatted string.

In [30]:
sent="{}'s age is {} ".format(name,age)
sent

"Anna's age is 2 "

In [31]:
"'s surname is "

"'s surname is "

In [32]:
name[1:3]

'nn'

In [33]:
name.split()

['Anna']

In [34]:
sent

"Anna's age is 2 "

In [35]:
sent.split("'",2)

['Anna', 's age is 2 ']

In [36]:
sent.find('is')

11

In [37]:
len(sent)

16

# Boolean type Operators

- The bool data type holds one of the values **True or False**, which are often encoded as 1 or 0, respectively.

- There are 6 comparison operators that are common to see in order to obtain a bool value:
    - ">=" : more than or equal
    - "<=" : less than or equal
    - ==  : equal
    - !=  : not equal
    - and, or, not

In [38]:
age2=15
print(age,age2)

2 15

In [39]:
age!=age2

True

In [40]:
age, age2

(2, 15)

> In case of **AND** two conditions must be true in order the result to be TRUE.

In [41]:
age>2 and age2<=15

False

> In case of **OR** one of the conditions must be true in order the result to be TRUE.

In [42]:
age>2 or age2<=15

True

> **NOT** Flips the Bool Value

In [43]:
not age==2

False

# Lists

A list is a finite sequence of items. Lists are **ordered** and **changeable** and it allows **duplicate members** (items). Lists are NOT required to be homogeneous, i.e., the items could be of different types.
You can find more basic operations with lists on https://www.w3schools.com/python/python_lists.asp.

Lists are created by using <code> [] </code>

In [44]:
#creating a list of names
student_names=['Irina','Mari','Varduhi']

In [45]:
type(student_names)

list

In [46]:
#printing the list item that has idex of 2
student_names[2]='Lilit'
print(student_names)

['Irina', 'Mari', 'Lilit']

In [47]:
#adding a new value to the list
student_names.append(20)

In [48]:
student_names

['Irina', 'Mari', 'Lilit', 20]

In [49]:
#checking length (number of items) of a list
len(student_names)

4

In [50]:
#you can create a list by using already defined variables
examp2=[name,name_2,age,age2]
examp2

['Anna', 'Anna2', 2, 15]

In [51]:
#printing list items from position 1 to 3

examp2[1:3]

['Anna2', 2]

In [52]:
#deleting a list item
examp2.remove(2)

In [53]:
examp2.remove('Anna')

In [54]:
examp2

['Anna2', 15]

In [55]:
# deleting a list item
examp2.pop(-1)

15

In [56]:
examp2

['Anna2']

> The difference between <code> remove()</code> and <code>pop()</code> functions is that, remove() takes an item *name* while pop() takes an item *position*.

In [57]:
student_names

['Irina', 'Mari', 'Lilit', 20]

> We can use **in** and **not in** to return a bool of whether an element exists within our list, or if one string is a substring of another.

In [58]:
'Shushanna' not in student_names

True

In [59]:
'Shushanna' in student_names

False

> Codes below illustrate how you can select an element from a list and print it with some string expression. There are many methods of doing that, three of them are presented below.

In [60]:
print(student_names[1], " is doing a great job in her homework")

Mari  is doing a great job in her homework

In [61]:
"{} is doing a great job in her homework".format(student_names[1])

'Mari is doing a great job in her homework'

In [62]:
f"{student_names[1]} is doing a great job in her homework"

'Mari is doing a great job in her homework'