# Revision of Class 5

- Python as a simple calculator
- Operators: 
        - arithmetic: +,-,/, etc
        - comparison: >=, and, or, etc
    
- creating variables
 e.g. <code>name='Anna'</code>

- variable types: integer, float, string, lists
            X=10 - int
            Y=10.3 - float
            name='Anna' str
            Z=[1,2,3,'a','b','c'] - list

- checking variable types by using type() function
- variable type conversion <code>str() float() int()</code>
 - including variable names into strings by using <code>.format()</code> or f-strings <code>f""</code> method

# Class 6: Tuple, Sets, Dictionaries, for and while loops, if conditions, functions

# Tuples

A tuple is a finite sequence of items which is **ordered and unchangeable**. Allows **duplicate** members. They are often used to store **related pieces of information**.

In [1]:
#creating a tuple
first_tuple=('car',4,6.0)

In [2]:
type(first_tuple)

tuple

In [3]:
t2='car',4,1
type(t2)

tuple

> **the code below shows that tuples can be used to unpack values into two different variables**

In [4]:
dimension=(10,2)
height, length=dimension

print(height)
print(length)

10
2

In [5]:
h,l=(10,2)

In [6]:
h,l

(10, 2)

In [7]:
first_tuple=('car',4,6.0)

> **the code below gives an error because tuples are unchangeable unlike lists**

In [8]:
first_tuple[0]=15

TypeError: 'tuple' object does not support item assignment

In [9]:
#checkin how many times the 4 is repeated in a tuple
first_tuple.count(4)

1

> **example below shows that you can change values of list unlike tuples**

In [10]:
list_2=[1,3]
list_2[0]=15 
print(list_2)

[15, 3]

# Dictionaries

A dictionary is a finite sequence of items that stores pairs of elements. It is **unordered, changeable and indexed**. **No duplicate** members are allowed.

> **In Python dictionaries are written with {}, and they have keys and values**

> **creating dictionary: the first value is "key" and the second one is "value"**

In [11]:
student_info={'name':'Hulk','SAT_Score':760}

In [12]:
student_info

{'name': 'Hulk', 'SAT_Score': 760}

In [13]:
type(student_info)

dict

> **example below shows that no duplicated keys are allowed. name was re-written into Aram instead of Hulk**

In [14]:
student_info={'name':'Hulk','SAT_Score':760,'name':'Aram'}
student_info

{'name': 'Aram', 'SAT_Score': 760}

> **if you wish to assign multiple values to a key, you need to use <code>[]</code> as example below shows**

In [15]:
student_info={'name':['Hulk','Aram'],'SAT_Score':[760,520]}
student_info

{'name': ['Hulk', 'Aram'], 'SAT_Score': [760, 520]}

> **printing the items of a dictionary by using <code>items()</code>**

In [16]:
student_info.items()

dict_items([('name', ['Hulk', 'Aram']), ('SAT_Score', [760, 520])])

> **removing name key w/ its values by using <code>pop()</code> method**

In [17]:
student_info={'name':['Hulk','Aram'],'SAT_Score':[760,520]}
student_info.pop('name')
print(student_info)

{'SAT_Score': [760, 520]}

In [18]:
student_info['name']='Aram'
print(student_info)

{'SAT_Score': [760, 520], 'name': 'Aram'}

> if you want to change only the first value of name key, you need to use indexing

In [19]:
student_info={'name':['Hulk','Aram'],'SAT_Score':[760,520]}
student_info['name'][0]='Hayk'
print(student_info)

{'name': ['Hayk', 'Aram'], 'SAT_Score': [760, 520]}

In [20]:
#clearing all items in the dictionary
student_info.clear()
student_info

{}

In [21]:
#creating an empty list
l_empty=[]

In [22]:
type(l_empty)

list

**Task 1. What will be the output of ?**

tuple_a = 5, 10
tuple_b = (5, 10)

Check the equality between tuple_a and tuple_b. What is the output? 


**Task 2. Create a dictionary where keys are names and surnames of your five classmates.**

In [23]:
#solution - task 1
tuple_a = 5, 10 
tuple_b = (5, 10)
tuple_a==tuple_b

True

In [24]:
#solution - task 2
students={"name of student":['S1','S2'],"surname":['Syan1','Syan2']}
print(students)

{'name of student': ['S1', 'S2'], 'surname': ['Syan1', 'Syan2']}

# Set

A set is a collection which is **unordered and unindexed**. In Python sets are written with curly brackets - {}. It has only **unique values**, duplicates are NOT allowed. For example, sets can be used to remove duplicates.

In [25]:
#definig a set
set_one={'TOEFL',"SAT","GMat"}

In [26]:
type(set_one)

set

> **the code blow returns error because set doesn't allow to use indexes to extract values**

In [27]:
set_one[0]

TypeError: 'set' object is not subscriptable

> **adding a new value to the set**

In [28]:
set_one.add('IELTS')
set_one

{'GMat', 'IELTS', 'SAT', 'TOEFL'}

**Task 1**

By using “in” operator, check whether the word “Taggart” is included in the following set: characters={‘Taggart’,’Francisco’,’Ragnar’}

**Task 2**
Check length of the following list: numbers=[1,1,3,4,4,4,6,8,8,12,11,11,8,9].

How many unique values does the list contain? Get only unique values of the list.

In [29]:
#Solution - task 1
characters={'Taggart','Francisco','Ragnar'}
'Anna' in characters

False

In [30]:
#Solution - task 2
numbers=[1,1,3,4,4,4,6,8,8,12,11,11,8,9]
print("Original length", len(numbers))
print("Final length",len(set(numbers)))

Original length 14
Final length 8

In [31]:
characters_list=list({'Taggart','Francisco','Ragnar'})
age_charct=[32,40,45]

In [32]:
print(characters_list)
print(age_charct)

['Francisco', 'Taggart', 'Ragnar']
[32, 40, 45]

> **creating a dictionary by using <code> zip() </code> function that pairs the iterators inside it**

In [33]:
print(dict(zip(characters_list,age_charct)))

{'Francisco': 32, 'Taggart': 40, 'Ragnar': 45}

In [34]:
charac_tupl=("Ragnar",32)
charac_tupl_2=('Francisco', 40)

> **creating a dictionary by using tuples**

In [35]:
dict([charac_tupl,charac_tupl_2])

{'Ragnar': 32, 'Francisco': 40}

# Control Flow

> In computer science, control flow is the order in which individual statements, instructions or function calls of an imperative program are executed or evaluated.

- for and while loops
- conditional statements

https://datascienceparichay.com/wp-content/uploads/2020/08/conditional.png.webp - IF structure

https://datascienceparichay.com/wp-content/uploads/2020/08/loop.png.webp - LOOPs

## For Loop

> Another feature of Python programming language are **loops**, the idea of which is looping, i.e. doing something multiple times. Simplest loop  that we can automate is printing numbers:

In [36]:
print(1)
print(2)
print(3)
print(4)
print(5)
print(6)

1
2
3
4
5
6

In [37]:
#list of numbers
num=[1,2,3,4,5,6]

In [38]:
#using for loop we can execute a set of statements, once for each item in a list,dictionary, tuple etc.
#using for loop to print each value in list
for every_number in num:
    print(every_number)

1
2
3
4
5
6

> **use range() to create a list of numbers based on defined range**

In [39]:
for i in range(10,16):
    print(i**2)

100
121
144
169
196
225

In [40]:
for i in range(16):
    print(i**2)

0
1
4
9
16
25
36
49
64
81
100
121
144
169
196
225

In [41]:
for i in range(16):
    print(f"The square if {i} is {i**2}")

The square if 0 is 0
The square if 1 is 1
The square if 2 is 4
The square if 3 is 9
The square if 4 is 16
The square if 5 is 25
The square if 6 is 36
The square if 7 is 49
The square if 8 is 64
The square if 9 is 81
The square if 10 is 100
The square if 11 is 121
The square if 12 is 144
The square if 13 is 169
The square if 14 is 196
The square if 15 is 225

# While Loop

While loop is doing the following:
- Evaluate the condition, yielding True or False.
- If the condition is false, exit the while statement and continue execution at the next statement.
- If the condition is true, execute the body and then go back to step 1.

In [42]:
x=3
while x<20:
    x+=2
    print(x)

5
7
9
11
13
15
17
19
21

# IF Condition

> **An if statement is a conditional statement that runs or skips code based on whether a condition is true or false. Here's a simple example.**

> **if , else, elif conditions**

In [43]:
N=-100

if N>0:
    print('N is a positive number')
else:
    print("N is not positive")

N is not positive

In [45]:
N=float(input("Please write any number: "))

if N>0:
    print('N is a positive number')
elif N<0:
    print("N is negative")
else:
    print("N is 0")

Please write any number: 100
N is a positive number

In [46]:
#python built in sum() function requires a list as an input
sum([1,23,3])

27

# Functions

**A function definition includes several important parts.**

- Function Header: Let's start with the function header, which is the first line of a function definition. The function header always starts with the def keyword, which indicates that this is a function definition.
- Then comes the function name (here <code>summarise()</code> ), which follows the same naming conventions as variables (e.g. case-sensitive, should not start with number, etc). 
- Immediately after the name are parentheses that may include arguments separated by commas (here, x and y). Arguments, or parameters, are values that are passed in as inputs when the function is called, and are used in the function body. If a function doesn't take arguments, these parentheses are left empty.
- The header always end with a colon <code>:</code>

In [47]:
def summarise(x,y):
    sum_num=x+y
    return sum_num

In [48]:
summarise(1,2)

3