# Class 7.Loops, Conditions, Functions, List Comprehensions, Modules/Libraries (import, install), Pandas

During the class the following has been covered:

- For loops + if conditions, functions + if conditions
- List Comprehensions
- Modules/Libraries (import, install)
- Pandas

> In the feew cells below, <code>split()</code> method and <code>for loop</code> has been used to print number of characters of each word in a sentence and store the values in a new list.

In [1]:
#string that should be splitted
a='In this world, you should always be suspicious of the knowledge you drive from data'

In [2]:
#checking type of a string
type(a)

str

In [3]:
#spliting a list into list of words
a_new=a.split()
a_new

['In',
 'this',
 'world,',
 'you',
 'should',
 'always',
 'be',
 'suspicious',
 'of',
 'the',
 'knowledge',
 'you',
 'drive',
 'from',
 'data']

In [4]:
#len() function should be used to check length of each word inside the list
len(a_new[0])

2

In [5]:
# for loop has been used to print the length of each word in a_new list
for i in a_new:
    print(len(i))

2
4
6
3
6
6
2
10
2
3
9
3
5
4
4

> The cell below show that in that way you can NOT store all the lengths in a new list

In [6]:
for i in a_new:
    a_lengths= len(i)
a_lengths

4

> The correct way of storing all the lengths in a new list is by creating an empty list then appending each length returned by <code>for loop</code> to it

In [7]:
#creating an empty list
a_len_new=[]
a_len_new

[]

In [8]:
#appending values to an empty list
for i in a_new:
    a_len_new.append(len(i))
a_len_new

[2, 4, 6, 3, 6, 6, 2, 10, 2, 3, 9, 3, 5, 4, 4]

> Below few cells of code show how you can craete a list of lengths that are higher than 5>

In [9]:
#checking the condition for the first item in  a list
a_len_new[0]>5

False

In [10]:
#if condition checks if a value is higher than 5 then prints a value
if a_len_new[2]>5:
    print(a_len_new[2])

6

In [11]:
#combining if and for loop to get the final list of lengths that are higher than 5
a_len_higer5=[]
for i in a_len_new:
    if i>5:
        a_len_higer5.append(i)
a_len_higer5

[6, 6, 6, 10, 9]

In [12]:
#checks the length of a list
len(a_new)

15

> The second method of solution uses <code> range()</code> and <code>len()</code> functions:

In [13]:
a_len_morethan5_2=[]
for i in range(len(a_new)):
    if len(a_new[i])>5:
        a_len_morethan5_2.append(len(a_new[i]))
a_len_morethan5_2

[6, 6, 6, 10, 9]

> Let's create function that will calculated monthly payment of a loan
> PMT formula: https://www.double-entry-bookkeeping.com/periodic-payment/annuity-payment-formula-fv/

In [14]:
def pmt(FV,r,n):
    """
    This f calculates monthly pmts of any loan where
    FV- future value, r - rate, n - number of periods\
    """
    month_pmt=FV*r/((1+r)**n -1)
    return month_pmt

> <code>round()</code> function rounds a number to a given precision in decimal digits.

In [15]:
round(pmt(100,3/12,2),2)

44.44

> Write a function that will ask your name and age and then return the following sentence: 
  “My name is Anna and I’m 1.5 years old”.

**! Note** When defining functions, it's not mandatory to have arguments inside parenthesis,arguments can be inputted by users.

In [16]:
def info_2():
    name=input("What is your name?")
    age=input("How old are you?")
    return f'My name is {name} and I’m {age} years old.'

In [17]:
info_2()

What is your name?Anna
How old are you?1.5

'My name is Anna and I’m 1.5 years old.'

> **Defining a function that will calculate mimimum number of the list.**

In [18]:
a=[2,5,4,15,0, -1]

In [19]:
min(a)

-1

In [20]:
#creating a fanction that calculates mimimum number of a given list
def minimum(l):
    """Argument should be a list"""
    min_first=l[0]
    for i in l:
        if i<min_first:
            min_first=i
    return min_first

In [21]:
minimum(a)

-1

> **Defining a function that will calculate net salary out of gross salary**

In [22]:
def get_salary():
    try:
        gross_salary=float(input("Insert your salary"))
        #income tax
        income_tax=gross_salary*0.22
        #pension
        if gross_salary<=500000:
            pension=0.035*gross_salary
        elif gross_salary>500000 and gross_salary<=1020000:
            pension=0.1*gross_salary-32500
        else:
            pension=69500
        #ARMY FEE
        if gross_salary<=100000:
            army_fee=1500
        elif gross_salary>100000 and gross_salary<=200000:
            army_fee=3000
        elif gross_salary>200000 and gross_salary<=500000:
            army_fee=5500
        elif gross_salary>500000 and gross_salary<=1000000:
            army_fee=8500
        else:
            15000
        #net salary
        net_salary=gross_salary-income_tax-pension-army_fee
        return net_salary
    except ValueError:
        print("Please enter valid numeric value.")

>  <code>try except</code>
When an error occurs, or exception as we call it, Python will normally stop and generate an error message. These exceptions can be handled using the try statement:

        - The <code>try</code> block lets you test a block of code for errors.
        - The <code>except</code> block lets you handle the error.

In [23]:
get_salary()

Insert your salary200000

146000.0

# List Comprehensions

- Only for statement: First output should be printed then for statement,
- for statement + if statement: Fisrt output should be printed, then for statement, then if statement,
- for statement + if statement+elif/else statement/s: Fisrt output should be printed, then if statement,then else/elif, and at the end for statement should be printed.

In [24]:
#a list
y=[2,5,10,6,7]

In [25]:
#simple for loop
for i in y:
    print(i)

2
5
10
6
7

In [26]:
#list comprehension method
y_new=[i for i in y]
y_new

[2, 5, 10, 6, 7]

In [27]:
#new list
x=[12,6,4,8,7]

In [28]:
#printing pairs of data from x,y lists
for i in y:
    for j in x:
        print((i,j))

(2, 12)
(2, 6)
(2, 4)
(2, 8)
(2, 7)
(5, 12)
(5, 6)
(5, 4)
(5, 8)
(5, 7)
(10, 12)
(10, 6)
(10, 4)
(10, 8)
(10, 7)
(6, 12)
(6, 6)
(6, 4)
(6, 8)
(6, 7)
(7, 12)
(7, 6)
(7, 4)
(7, 8)
(7, 7)

In [29]:
#printing pairs of data from x,y lists by using list comprehensions
[(i,j) for i in y for j in x]

[(2, 12),
 (2, 6),
 (2, 4),
 (2, 8),
 (2, 7),
 (5, 12),
 (5, 6),
 (5, 4),
 (5, 8),
 (5, 7),
 (10, 12),
 (10, 6),
 (10, 4),
 (10, 8),
 (10, 7),
 (6, 12),
 (6, 6),
 (6, 4),
 (6, 8),
 (6, 7),
 (7, 12),
 (7, 6),
 (7, 4),
 (7, 8),
 (7, 7)]

In [30]:
x

[12, 6, 4, 8, 7]

In [31]:
#with if condition
x_new_higher6=[i for i in x if i>6]
x_new_higher6

[12, 8, 7]

In [32]:
#with multiple if conditions
['up to 4' if i<4 else '4-10' if i>=4 and i<10 else "more than 10" for i in x]

['more than 10', '4-10', '4-10', '4-10', '4-10']

In [33]:
#checking directory of a file
%pwd

'C:\\Users\\psargsyan\\Dropbox\\MGMT 300 2022\\Class 7'

# Modules/Libraries

- To install a package on machine, one must run the following command on the command prompt/terminal: pip install packagename1 pacakgename2 ... (or !pip install packagename1 packagename2 inside Jupyter Notebook).
- A library is a collection of functions which we will use to do analysis. Libraries may contain not only functions but also data values (e.g., numerical constants).
- Python's standard library is installed with it. Many additional libraries are available from PyPI (the Python Package Index).
- Use import to load a library into a program's memory. Use import...as... to give a library a short alias while importing it. Then refer to items in the library using that shortened name library_shortened_name.thing_name. Python uses "." sign to mean "part of" something(e.g. library, DataFrame).

**!Note: Before starting your analysis, first import all the libraries you're going to use in your script.**

> for installing libraries inside Jupyter Notebook, the following code should be used
  <code>!pip install pandas</code>

In [34]:
#importing pandas library
import pandas as pd

In [35]:
#reading the data
data_call=pd.read_excel('Call Data.xlsx')

In [36]:
#printin first 7 rows of data
data_call.head(7)

,Call ID,Date,Dates,Product,Region,Customer Type,Call Duration,Resolved,Service Satisfaction Ratio,Product Satisfaction Ratio,Up-sell,Quantity,Agent ID
0,CL00001,2021-04-19,Apr,Desktop,Mid-west,Individual,94,Yes,2.6,4.7,170.0,1,Bond
1,CL00002,2021-06-15,Jun,Laptop,West,SME,83,Yes,1.9,2.2,250.0,3,Mary
2,CL00003,2021-04-12,Apr,Misc.,North,Individual,76,Yes,2.1,2.8,160.0,5,Neo
3,CL00004,2021-06-14,Jun,Misc.,West,Large Corporate,76,No,3.4,4.9,170.0,4,Vinod
4,CL00005,2021-02-11,Feb,Laptop,East,SME,67,Yes,4.0,4.8,0.0,7,Neo
5,CL00006,2021-04-29,Apr,NaN,East,SME,62,Yes,4.4,4.5,240.0,2,Neo
6,CL00007,2021-04-05,Apr,Misc.,West,SME,84,Yes,4.2,4.0,0.0,4,Mary

In [37]:
#printing the last 7 rows of data
data_call.tail(7)

,Call ID,Date,Dates,Product,Region,Customer Type,Call Duration,Resolved,Service Satisfaction Ratio,Product Satisfaction Ratio,Up-sell,Quantity,Agent ID
14825,CL14826,2021-04-06,Apr,Desktop,East,Individual,74,Yes,3.0,1.4,0.0,4,Bond
14826,CL14827,2021-06-10,Jun,Software,East,Non-profit,88,Yes,2.5,0.1,0.0,2,Vinod
14827,CL14828,2021-05-24,May,Laptop,South,Non-profit,72,Yes,4.6,0.9,0.0,3,Mary
14828,CL14829,2021-05-14,May,Desktop,North,Non-profit,90,Yes,4.9,3.7,0.0,3,Harry
14829,CL14830,2021-01-24,Jan,Monitor,East,Non-profit,69,Yes,4.7,3.1,70.0,2,Harry
14830,CL14831,2021-06-30,Jun,Software,South,Large Corporate,70,Yes,3.4,1.4,150.0,1,Vinod
14831,CL14832,2021-02-11,Feb,Accessories,West,SME,73,Yes,3.8,4.8,270.0,5,Neo

In [38]:
#selecting only one column from dataframe
data_call['Call ID'].head()

0    CL00001
1    CL00002
2    CL00003
3    CL00004
4    CL00005
Name: Call ID, dtype: object

In [39]:
#checking the shape of data: i.e. how many rows and columns the data contains
data_call.shape

(14832, 13)

In [40]:
#checking detailed description of all variables, i.e. number of non-null values, type of the variable, etc
data_call.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 14832 entries, 0 to 14831
Data columns (total 13 columns):
 #   Column                       Non-Null Count  Dtype
---  ------                       --------------  -----
 0   Call ID                      14832 non-null  object
 1   Date                         14832 non-null  datetime64[ns]
 2   Dates                        14832 non-null  object
 3   Product                      14830 non-null  object
 4   Region                       14832 non-null  object
 5   Customer Type                14832 non-null  object
 6   Call Duration                14832 non-null  int64
 7   Resolved                     14831 non-null  object
 8   Service Satisfaction Ratio   14832 non-null  float64
 9   Product Satisfaction Ratio   14832 non-null  float64
 10  Up-sell                      14831 non-null  float64
 11  Quantity                     14832 non-null  int64
 12  Agent ID                     14831 non-null  object
dtypes: datetime64[ns](1), float64(3), int64(2), object(7)
memory usage: 1.5+ MB

In [41]:
#checking how many missing values each column has
data_call.isna().sum()

Call ID                        0
Date                           0
Dates                          0
Product                        2
Region                         0
Customer Type                  0
Call Duration                  0
Resolved                       1
Service Satisfaction Ratio     0
Product Satisfaction Ratio     0
Up-sell                        1
Quantity                       0
Agent ID                       1
dtype: int64

In [42]:
#main descriptive statistics for numeric variables
data_call.describe()

,Call Duration,Service Satisfaction Ratio,Product Satisfaction Ratio,Up-sell,Quantity
count,14832.000000,14832.000000,14832.000000,14831.000000,14832.000000
mean,74.992584,2.960895,2.846676,121.335716,4.460289
std,8.061397,1.349891,1.522898,105.151607,2.297046
min,46.000000,0.100000,0.100000,0.000000,1.000000
25%,69.000000,2.000000,1.500000,0.000000,2.000000
50%,75.000000,3.200000,3.000000,150.000000,4.000000
75%,80.000000,4.100000,4.300000,210.000000,6.000000
max,106.000000,5.000000,5.000000,380.000000,8.000000

In [43]:
#only for one column
data_call['Service Satisfaction Ratio '].describe()

count    14832.000000
mean         2.960895
std          1.349891
min          0.100000
25%          2.000000
50%          3.200000
75%          4.100000
max          5.000000
Name: Service Satisfaction Ratio , dtype: float64

In [44]:
#all column headers of the data 
data_call.columns

Index(['Call ID', 'Date', 'Dates', 'Product', 'Region', 'Customer Type',
       'Call Duration', 'Resolved', 'Service Satisfaction Ratio ',
       'Product Satisfaction Ratio', 'Up-sell', 'Quantity ', 'Agent ID'],
      dtype='object')

In [45]:
#replacing space with underscore for first column in the data
data_call.columns[0].replace(" ","_")

'Call_ID'

In [46]:
#replacing space with underscore in all columns of the data
data_columns_new=[]
for i in range(len(data_call.columns)):
    data_columns_new.append(data_call.columns[i].replace(" ","_"))
data_columns_new

['Call_ID',
 'Date',
 'Dates',
 'Product',
 'Region',
 'Customer_Type',
 'Call_Duration',
 'Resolved',
 'Service_Satisfaction_Ratio_',
 'Product_Satisfaction_Ratio',
 'Up-sell',
 'Quantity_',
 'Agent_ID']

In [47]:
data_call.columns=data_columns_new

In [48]:
data_call.head()

,Call_ID,Date,Dates,Product,Region,Customer_Type,Call_Duration,Resolved,Service_Satisfaction_Ratio_,Product_Satisfaction_Ratio,Up-sell,Quantity_,Agent_ID
0,CL00001,2021-04-19,Apr,Desktop,Mid-west,Individual,94,Yes,2.6,4.7,170.0,1,Bond
1,CL00002,2021-06-15,Jun,Laptop,West,SME,83,Yes,1.9,2.2,250.0,3,Mary
2,CL00003,2021-04-12,Apr,Misc.,North,Individual,76,Yes,2.1,2.8,160.0,5,Neo
3,CL00004,2021-06-14,Jun,Misc.,West,Large Corporate,76,No,3.4,4.9,170.0,4,Vinod
4,CL00005,2021-02-11,Feb,Laptop,East,SME,67,Yes,4.0,4.8,0.0,7,Neo

In [49]:
data_call['Call_Duration'].median()

75.0