# Homework 3. Solution

In [1]:
#importing libraries that will be used in this homework
import pandas as pd
import numpy as np

## 1.	Problem 1. Variable types, Lists (3 points)


### a.	The current sales volume (in dollars) and per product price (in dollars) of X company are given: 
sales volume = 25 000
product price = 10.5
Use the given information to do the following:

- i. Define variables for sales and price respectively.

In [2]:
sales_volume=25000
prod_price=10.5

- ii. By using sales and price variables defined in the previous step (i), calculate how many products have been sold by defining a new variable that is called ‘quantity’.

In [3]:
quantity=25000/10.5

print(f'{round(quantity,2)} units has been sold')

2380.95 units has been sold

- iii.	By using sales and price variables, print the following sentence “In June, X company earned 25000 by selling its products by 10.5 per item.” Instead of highlighted numbers use respective variable names.

In [4]:
print('In June, X company earned {} by selling its products by {} per item.'.format(sales_volume,prod_price))

In June, X company earned 25000 by selling its products by 10.5 per item.

- iv.	Increase product price by 25% and calculate the new quantity by using the new price.

In [5]:
new_quantity=sales_volume/prod_price*1.25
print('New price is',round(new_quantity,2))

New price is 2976.19

- v.	 What are the types of sales, price and quantity variables that you defined in the steps above?

In [6]:
print('types of sales:', type(sales_volume))
print('types of price:', type(prod_price)) #choosing new price is also fine if you defined it
print('types of quantity:', type(quantity))

types of sales: <class 'int'>
types of price: <class 'float'>
types of quantity: <class 'float'>

- vi.	 Write code that prints True if a new quantity is less than the previous one, and False otherwise

In [7]:
print(new_quantity<quantity)

False

> The new quantity is more than the previous one.

### b.Create three variables that will ask a user the following information below about their favorite movie and store them as a value of a variable:

- i.	Full name of movie
- ii.	Director name 
- iii.	Year of production

In [8]:
#Schindler's List,  Steven Spielberg, 1993
m_name=input('Enter the name of your favorite movie. ')
dir_name= input('Who is the director? ')
year=input('When was the movie produced? ')

Enter the name of your favorite movie. Schindler's List
Who is the director? Steven Spielberg
When was the movie produced? 1993

### c.	1 Create an empty list that is called “wines”. Append your favorite three wines to the list.

In [9]:
my_wines=[]
my_wines.append('Rindi Mana Wine')
my_wines.append('Kataro Wine')
my_wines.append('VanArdi Wine')

print(f'These are my favorite wines: {my_wines}')

These are my favorite wines: ['Rindi Mana Wine', 'Kataro Wine', 'VanArdi Wine']

## 2.	Problem 2. If Condition and For Loop (3 points)

- a.	1.5 Write a for loop that iterates over the list of hero_names below by using range() function in order to create another  list of names that should be called names_modified. In order to create a modified name for each name in hero_names list, make everything lowercase and replace spaces with underscores (). (Hint: use the .replace() method for replacing spaces with underscores).
hero_names = ['Spider Man', 'Iron Man', 'Captain America', 'Doctor Strange']
Running your for loop should return the following output:
names_modified = ['spider_man', 'iron_man', 'captain_america', 'doctor_strange']

In [10]:
hero_names = ['Spider Man', 'Iron Man', 'Captain America', 'Doctor Strange']

names_modified=[] #creating an emty list to whcih new names will be added
for i in range(len(hero_names)):
    names_modified.append(hero_names[i].lower().replace(' ','_'))
print('names_modified =', names_modified)

names_modified = ['spider_man', 'iron_man', 'captain_america', 'doctor_strange']

- b.	1.5 Write a program by using if condition to give discount to customers for purchase of a specific product that costs $28. In case users buy less than 20 units, no discount should be given, for quantities between 21 to 100 units, 10 % discount should be given and for quantities higher than 100 units 20% discount should be given.

In [11]:
price=28 #first I'm defining price and quantity variable in order to be able to use them in my if statement
quantity_bought=101 #you can write any number 

if quantity_bought<20:
    print('No discount, the price is ', price)
elif quantity_bought>=21 and quantity_bought<=100:
    print('You\'re given 10% discount, a new price is  ', price*0.9)
elif quantity_bought>100:
    print('You\'re given 20% discount, a new price is  ', price*0.8)

You're given 20% discount, a new price is   22.400000000000002

## 3.	Problem 4. Dictionaries (1 points)

- a. Create a dictionary with keys being country names of five most populated countries and the values being the capital city of a country. Eg. China: Beijing.

In [12]:
count_cities_dict={'China':'Beijing',
                          'India':'New Delhi',
                          'United States':'Washington',
                          'Indonesia':'Jakarta',
                          'Brazil':'Brazil'}
print(count_cities_dict)

{'China': 'Beijing', 'India': 'New Delhi', 'United States': 'Washington', 'Indonesia': 'Jakarta', 'Brazil': 'Brazil'}

- b. Write a for loop to return capital cities of each country in the dictionary defined above (a.) and save the returned cities as a list that should be called ‘cities’.

In [13]:
#get() method returns for each country it's capital city
count_cities_dict.get('China')

'Beijing'

In [14]:
cities=[] #creating an empty list to which the cities will be added
for i in count_cities_dict:
    cities.append(count_cities_dict.get(i))
print(cities)

['Beijing', 'New Delhi', 'Washington', 'Jakarta', 'Brazil']

## 4.	Problem 5. Functions (2 points)
 - a.	2 Write a function that will ask a user to rate their satisfaction from the services provided by X company by using 1-5 scale. If a user rates 1, then your program should return “Strongly dissatisfied”, 2- “Dissatisfied”, 3- “Neither dissatisfied nor satisfied”, 4- “Satisfied”, 5- “Very satisfied”.  If the score is out of the 1-5 range, the program should print the following information: “Please use 1-5 range to rate your satisfaction”. If a user enters not numeric data, the program should return the following: “Please enter numeric information.”

In [15]:
def satisfaction():
    """
    The function converts staisfaction ratings from numeric values to string.
    The function is not working on float or non-numeric data.
    """
    try:
        rate=int(input("How satisfied are you with our services on the scale of 1-5: " ))
        if rate==1:
            coded_value="Strongly dissatisfied"
        elif rate==2:
            coded_value='Dissatisfied'
        elif rate==3:
            coded_value='Neither dissatisfied nor satisfied'
        elif rate==4:
            coded_value='Satisfied'
        elif rate==5:
            coded_value='Very satisfied'
        else:
            print('Please use 1-5 range to rate your satisfaction')
            coded_value='Not Valid'
        return coded_value
    except ValueError:
        print("Please enter numeric information.")

In [16]:
satisfaction()

How satisfied are you with our services on the scale of 1-5: 5

'Very satisfied'

## 5.	Problem 6. Reading data (0.5 points)
- a.	0.5 Read “Bank_data” data.

In [17]:
df=pd.read_excel('Bank_data.xlsx')

In [18]:
df.head()

,ID,age,job,marital,education,default,housing,loan,contact,month,...,campaign,pdays,previous,poutcome,emp_var_rate,cons_price_idx,cons_conf_idx2,euribor3m,nr_employed,term_deposit
0,1,30,blue-collar,married,basic.9y,no,yes,no,cellular,may,...,2,999,0,nonexistent,-1.8,92.893,46.2,1.313,5099.1,no
1,2,39,services,single,high.school,no,no,no,telephone,may,...,4,999,0,nonexistent,1.1,93.994,36.4,4.855,5191.0,no
2,3,25,services,married,high.school,no,yes,no,telephone,jun,...,1,999,0,nonexistent,1.4,94.465,41.8,4.962,5228.1,no
3,4,47,admin.,married,university.degree,no,yes,no,cellular,nov,...,1,999,0,nonexistent,-0.1,93.200,42.0,4.191,5195.8,no
4,5,32,services,single,university.degree,no,no,no,cellular,sep,...,3,999,2,failure,-1.1,94.199,37.5,0.884,4963.6,no

## 6.	Problem 7. Data description (0.5 points)
- a.	How many rows and how many columns are in the data?
- b.	How many variables have missing values?
- c.	How many numeric and how many non-numeric variables are in the data?
- d.	What is the ‘education’ of a customer whose ID is 18? Is s/he married? 
- e.	What is the average ‘duration’ of campaigns?
- f.	What is the median ‘cons_price_idx’ for customers who indicated ‘housing’ being equal to ‘yes’? 
- g.	What is the 75th percentile of the ‘duration’ variable?
- h.	Write for loop to print the unique categories for the following variable: housing, loan, contact.

In [19]:
print(f' a. The data has {df.shape[0]} rows and  {df.shape[1]} columns')

 a. The data has 3235 rows and  22 columns

In [20]:
df.isnull().sum()

ID                0
age               0
job               3
marital           0
education         0
default           0
housing           3
loan              0
contact           0
month             0
day_of week       0
duration          0
campaign          0
pdays             0
previous          0
poutcome          0
emp_var_rate      0
cons_price_idx    0
cons_conf_idx2    0
euribor3m         0
nr_employed       0
term_deposit      0
dtype: int64

- b. Two variables have missing values.

In [21]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3235 entries, 0 to 3234
Data columns (total 22 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   ID              3235 non-null   int64
 1   age             3235 non-null   int64
 2   job             3232 non-null   object
 3   marital         3235 non-null   object
 4   education       3235 non-null   object
 5   default         3235 non-null   object
 6   housing         3232 non-null   object
 7   loan            3235 non-null   object
 8   contact         3235 non-null   object
 9   month           3235 non-null   object
 10  day_of week     3235 non-null   object
 11  duration        3235 non-null   int64
 12  campaign        3235 non-null   int64
 13  pdays           3235 non-null   int64
 14  previous        3235 non-null   int64
 15  poutcome        3235 non-null   object
 16  emp_var_rate    3235 non-null   float64
 17  cons_price_idx  3235 non-null   float64
 18  cons_conf_idx2  3235 non-null   float64
 19  euribor3m       3235 non-null   float64
 20  nr_employed     3235 non-null   float64
 21  term_deposit    3235 non-null   object
dtypes: float64(5), int64(6), object(11)
memory usage: 556.1+ KB

- c. The data has 11 numeric and 11 non-numeric variables.

In [22]:
df['education'][df['ID']==18]

17    high.school
Name: education, dtype: object

- d. The customer has ' high.school ' degree.

In [23]:
print(f' e. The average duration of campaigns is {np.mean(df.duration)}')

 e. The average duration of campaigns is 259.80092735703244

In [24]:
np.median(df['cons_price_idx'][df['housing']=='yes'])

93.444

- f. median is 93.444.

In [25]:
df.duration.describe()

count    3235.000000
mean      259.800927
std       262.956331
min         0.000000
25%       105.000000
50%       182.000000
75%       316.000000
max      3643.000000
Name: duration, dtype: float64

- g. 75th percentile of the ‘duration’ variable is  316.

In [26]:
for i in ['housing', 'loan', 'contact']:
    print('\n',i,'\n','---------------------------') #this part is only for creating space between outputs and for printing variable names
    print(df[i].value_counts()) #calculating value counts

 housing
 ---------------------------
yes    1760
no     1472
Name: housing, dtype: int64

 loan
 ---------------------------
no     2703
yes     532
Name: loan, dtype: int64

 contact
 ---------------------------
cellular     2202
telephone    1033
Name: contact, dtype: int64